@tailwind base;
@tailwind components;
@tailwind utilities;


body, .navbar-bgcolor{
  background-color: #1A1A40;
}

body{
  font-family: cursive;
}


@media (max-width: 640px){
  body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
}
